TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=redis

# PostgreSQL (via Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=ai_claude
DB_PASSWORD=password
DB_DATABASE=ai_claude

# PgAdmin (via Docker)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root

# SMTP (Configuration)
SMTP_HOST=
SMTP_PORT=587   
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=

# Admin seed
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULL_NAME=