.button {
  width: 100%;
  border-radius: 4px;
  font: inherit;
  background: var(--gray-12);
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: var(--gray-10);
  }
}
